body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.nav-list { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list:hover, .nav-list:focus {
    color: #404bbf;
}
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
}

.contacts:hover, .contacts:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}
.mainpage {
    background: #2e2f42;
}

.motto {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    text-align: center;
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.ourteam {
    background: #f4f4fd;
}

.teamlist {
    text-align: center;
    background-color: #FFFFFF;
}

.footer {
    background: #2e2f42;
}

.footertext {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo-in-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.webstudio {
    color: #f4f4fd;
}
.studio {
    color: #2e2f42;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
.header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    display: flex;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
 }
 .header > .container {
    justify-content: space-between;
 }
 .container-nav-adrress {
    display: flex;
    align-items: center;
 }
 .container-nav-list {
    display: flex;
    gap: 40px;
 }

 .container-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
 }
 .nav-list {
    padding: 24px 0;
 }
 .mainpage {
    padding: 188px 0;
    justify-content: center;
 }
 .motto {
    max-width: 496px;
    margin: 0 auto:
 }
 .button {
    display: block;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
 }
 .section-two {
    padding: 120px 0;
 }
 .opportunities-list {
    display: flex;
    gap: 24px;
 }
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
 .opportunities-list-li {
    width: calc((100%-3*24px)/4);
 }
.opportunities-list-li > h3 {
    margin-bottom: 8px;
}

.ourteam {
    padding: 120px 0;
}
.ourteam > .container > .title-two {
    padding-bottom: 72px;
}
.ourteam-list {
    display: flex;
    gap: 24px;
}
.teamlist {
    width: calc((100%-3*24)/4);
    border-radius: 0 0 4px 4px;
}
.personal {
    padding: 32px 0;
}
.personal > .title-three {
    text-align: center;
}
.personal > .text {
    text-align: center;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four > .container > .title-two {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-card {
    width: calc((100% - 2*24px)/3);
}
.name-app {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.name-app > .title-three {
    margin-bottom: 8px;
}
.footer {
    padding: 100px 0;
}
.logo-in-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.footer > .container {
    display: flex;
    flex-direction: column;
}
.footer-p-text {
    width: 264px;
    text-wrap: wrap;
}
.section-four > .container, .ourteam > .container {
    display: flex;
    flex-direction: column;
}
 .main > .container {
    display: inline-block;
    
}